<p id="notice"><%= notice %></p>

<h1>Oneclicks</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @oneclicks.each do |oneclick| %>
      <tr>
        <td><%= link_to 'Show', oneclick %></td>
        <td><%= link_to 'Edit', edit_oneclick_path(oneclick) %></td>
        <td><%= link_to 'Destroy', oneclick, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Oneclick', new_oneclick_path %>
